.user-big{
    background-color: #512DA7;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-left: 20px;
}
.greetings-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100px;
    color: white;
    margin-top : 10vh;
}

.greet-text{
    font-size: 1.2rem;
    line-height: 0.2rem;
    margin-left: 10px;
    
}

.greet-text p:nth-child(1){
    color: #928E92;
    font-size: 0.8rem;
}