.song-card-list-container{
    margin-top: 10px;
    margin-left: 20px;
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}

@media only screen and (min-width: 615px) {
    .song-card-list-container{
        /* margin-top: 50px; */
        margin-left: 60px;
    }
    
  }