.small-card-list-container{
    margin-top: 10px;
    margin-left: 20px;
    height: 256px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}

@media only screen and (min-width: 615px) {
    .small-card-list-container{
        margin-left: 60px;
    }
}