.search-container{
    position: absolute;
    top : 0px;
    left: 50vw;
    transform: translate(-50%,0);
    padding: 10px 15px;
    margin: 0 auto;
    width: 95vw;
}

.search-bar-cont input{
    padding-right: 20px;
    font-size: 1.2rem;
    width: 80%;
    height: 40px;
    background-color: #212121;
    border: none;
    color: white;
}

.back-search-icon{
    padding: 12px 15px;
}

.search-bar-cont {
    border-radius: 5px;
    border: 1px solid #2b2b2b;
    background-color: #212121;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 615px) {
        
    .search-container{
        width: 600px;
    }

  }

  @media only screen and (min-width: 940px) {
        
    .search-container{
        width: 750px;
        /* background-color: yellowgreen; */
    }

  }

  @media only screen and (min-width: 1150px) {
        
    .search-container{
        width: 900px;
        /* background-color: green; */
    }

  }