
.logo{
    background-color: #FF0100;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}



.header-nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user{
    background-color: #512DA7;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.nav-mid{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fav-nav-active{
    color: white;
}

.fav-nav{
    color: black;
}
.home-nav-active{
    color: white;
}

.home-nav{
    color: black;
}
